<div class="card">
	<div class="card-body">
		<div class="card-heading">
			<h3 class="card-title" align="center">{{title}}</h3>
		</div>
		<div class="card-body">
			<img src={{img}} class="card-img" alt="Image" />
			<br>
			<p class="card-text">{{summary}}</p>

			<a href={{link}} class="card-link" target="_blank">See Full Article</a>
			<a href="/articles/{{_id}}" class="card-link">See Notes</a>
		</div>
	</div>
</div>